* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(75, 75, 75);
    background-image: linear-gradient(
        225deg,
        rgb(61, 61, 61) 0%,
        rgba(46, 46, 46, 0.5),
        #000 100%
    );
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.search-box {
    position: relative;
    width: 60px;
    height: 60px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.search-box.active {
    width: 360px;
}
.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    padding: 0 60px 0 20px;
    font-size: 18px;

    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.search-input.active {
    opacity: 1;
}
.search-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);

    background-color:   rgb(31, 31, 31);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.search-btn.active {
    box-shadow: none;
}
.cancel-btn {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);

    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.cancel-btn.active {
    opacity: 1;
}
.search-text {
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 20px;
    color: rgb(27, 27, 27);
}
.search-text.active {
    display: none;
}

